// Used as:
// background: linear-gradient(to bottom, $lg-show);

// Backgrounds
$lg-wash:     #ffffff,#f4f4f5;
$lg-discover: #56b8dd,#2f68a3;
$lg-platform: #3b79cb,#47b1ed;
$lg-show:     #1b4868,#2071a9;
$lg-sign:     #a058b8,#5960ce;


// Icons
$lg-flight:   #fb97ca,#4895e7;
$lg-rise:     #f65b86,#ffce6c;
$lg-solstice: #f6497f,#584cd1;
$lg-set:      #fdc443,#ff4cbf;
$lg-grass:    #e3e170,#09b1c3;
$lg-click:    #6ccb34,#32b76b;
$lg-wave:     #00e691,#70bcfc;
$lg-zenith:   #3c6ecd,#69d5f5;
$lg-malibu:   #585cd1,#ff38d6;
