$c-white: #fff;
$c-gray-9: #f4f5f8;
$c-gray-8: #f4f5f8;
$c-gray-7: #eceef1;
$c-gray-6: #e3e5e8;
$c-gray-5: #d4d7dc;
$c-gray-4: #babec5;
$c-gray-3: #8d9096;
$c-gray-2: #6b6c72;
$c-gray-1: #393a3d;
$c-black: #000;

$c-green-1: #108000;
$c-green-2: #2ca01c;
$c-green-3: #53b700;
$c-green-4: #7fd000;
$c-green-5: #a9e838;

$c-blue-1: #055393;
$c-blue-2: #0077c5;
$c-blue-3: #0097e6;
$c-blue-4: #21abf6;
$c-blue-5: #34bfff;

$c-blue-tint: #ebf9ff;

$c-yellow-1: #ffad00;
$c-yellow-2: #fb0;
$c-yellow-3: #ffca00;
$c-yellow-4: #ffdc00;
$c-yellow-5: #fe0;

$c-red-1: #b80000;
$c-red-2: #d52b1e;
$c-red-3: #e43834;
$c-red-4: #f25a52;
$c-red-5: #ff8979;
