$font-family-body:  'Open Sans', Helvetica, Arial, sans-serif;
$font-family-title: 'Raleway', $font-family-body;
$font-family-code:  'Source Code Pro', 'Andale Mono', 'Courier New', monospace;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   600;
$font-weight-heavy:  700;
