.base {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    flex-basis: 0;
    flex-grow: 1;
  }
}

@supports (display: grid) {
  .base {
    display: grid;
    grid-template-areas: 'header'
                         'body';
    grid-template-rows: auto 1fr;

    &__header {
      grid-area: header;
    }

    &__body {
      grid-area: body;
    }
  }
}
