html {
  font-size: 13PX; // uppercased to prevent it being remified
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-normal;
  line-height: 1.4;
  color: $c-gray-1;
}

a,
button {
  color: $c-blue-2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h5 {
  font-size: 1.25rem;
}
